
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
